/* genral setup */

*{margin:0;
  padding:0;
  box-sizing:border-box;
  list-style-type:none;}

/* main-content */

body{min-height:600vh;}

.main-head{display:flex;
          align-items:center;
          padding:25px 5%;
          justify-content:space-between;}


.main-head li{display:inline-block;
              margin-inline:40px;
              font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-weight:700;
              cursor:pointer;
              font-size:1rem;
              text-transform:capitalize;
}


.text{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700;
    cursor:pointer;
    font-size:1rem;
    text-transform:capitalize;}

.dropdown{position:relative;
          display:inline-block;
}


.drop-content{display:none;
    background:rgba(255,255,255,0.1);
    box-shadow:0 5px 10px rgb(0,0,0,0.2);
    z-index:1;
    position:absolute;
    top:35px;
    transform:translateX(-30px);
    border-radius:10px;
    width:170px;}

.dropdown-content li,a{
    color:black;
    margin:10px auto;
    text-decoration: none;
    display: block;
  }


.drop-content .new li,a{margin:10px 0px;}


.dropdown:hover .drop-content{display:block;
                              transition:0.4s ease;
                             
}

.main-head button{padding:10px 40px;
                  background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
                  cursor:pointer;
                  color:black;
                  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                  font-weight:700;
                  border:none;
                  font-size:1rem;
                  border-radius:55px;
                  text-transform:capitalize;
}

/* home  section */

.home-text h1{font-size:4rem;
           font-weight:750;
           line-height:90px;
           text-transform:capitalize;
           font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.learning .learn{width:100%;}

.home-text p{font-size:1rem;
             font-weight:500;
             line-height:30px;
             color:black;
             margin-top:2%;
             font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
             text-transform:lowercase;}



.home-text .learn{
    padding:15px 40px;
    background:black;
    cursor:pointer;
    color:black;
    border:none;
    background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
    margin-top:5.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700;
    font-size:1rem;
    border-radius:55px;
    text-transform:capitalize
}

.main-home{display:flex;
           align-items:center;
           margin:5% auto;
           justify-content:space-around;}

.second-head p{font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  margin-top:1.3%;
  font-size:0.35em;
}



.color{background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
       background-clip:text;
       color:transparent;}
  

.second-head{margin:10% auto;
             text-align:center;
             font-size:3rem;
             text-transform:capitalize;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             font-weight:800;
}


.second-section div{background:rgba(255,255,255,0.1);
                    box-shadow:0 5px 10px rgb(0,0,0,0.2);
                    max-width:370px;
                    padding:0 30px;
                    margin:0 18px;
                    border-radius:8px;
                    height:300px;
}

.second-section .text-we h1{font-size:1.5rem;
                             font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                             font-weight:800;
                             margin-top:2%;
                             text-transform:capitalize;}

.second-section .text-we p{font-size:0.85rem;
                           font-weight:700;
                           color:rgba(0, 0, 0, 0.385);
                           text-transform:capitalize;
                           margin-top:2%;
                          font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.second-section .text-we img{background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
                            padding:20px;
                            transform:translateY(-40px);
                             border-radius:10px;
                           
} 

.second-section{display:flex;
               align-items:center;
               text-align:center;
               gap:15rem;
               justify-content:center;
}

.trend-text h1{font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
               font-weight:800;
               font-size:4.5rem;
               text-transform:capitalize;}

.trend-text{margin-left:6%;}

.trend-section{display:flex;
               align-items:center;
               margin:18% 0;
               background-color:#F5F5F5;
               width:100%;
               padding:5% 0;
               justify-content:space-between;}

.trend-image{width:700px;
             border-top-left-radius:50%;      
          
}

.why-image .why-1{max-width:600px;}

.why-image .why-2{max-width:600px;}

.why-text h1{background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
             background-clip:text;
             color:transparent;}

.trend-text button{padding:10px 40px;
  background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
  cursor:pointer;
  color:black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:700;
  border:none;
  font-size:1rem;
  border-radius:55px;
  text-transform:capitalize;
}

.know-more{padding:15px 25px;
           border-radius:10px;
           border:none;
           font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           font-weight:800;
           text-transform:capitalize;
           background-color:black;
           color:whitesmoke;}

.trend-text p{font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              font-weight:700;
              color:rgba(0, 0, 0, 0.308);}


.why-section{display:flex;
             align-items:center;
             margin:15% auto;
             padding:5% 0;
             justify-content:space-evenly;
             background-color:#F5F5F5;
             width:100%;

}

.why-text{transform:translateY(10px);}

.bxs-circle{font-size:0.85rem;}

.why-text p{font-size:1rem;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight:400;
            color:black;}

.why-text h2{font-size:1.5rem;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight:800;
            text-transform:capitalize;}


.content-2 .box-1,.box-2{width:350px;
                  height:300px;
                  background:rgba(255,255,255,0.1);
                  box-shadow:0 5px 10px rgb(0,0,0,0.2);
                 border-radius:8px;
                  
}

.content-2 img{margin-top:40px;
  background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
  padding:10px;
  border-radius:10px;
}
              
.content-2{display:grid;
           text-align:center;
           gap:2rem;
           padding:5% 0;
           grid-template-columns:repeat(2,1fr);
           margin:3% 0;
          }

.why-text h1{font-size:4.5rem;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             text-transform:capitalize;}

.pricing-term{
              padding-bottom:80px;}


.pricing-term h1{font-size:4.5rem;
                 text-align:center;
                 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                 text-transform:capitalize;
                 background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
                 background-clip:text;
                 color:transparent;

}


.pricing-term h1{padding:20px 15px;
                
}

.pricing-box .basic span h1{background: linear-gradient(220.55deg, #9F25FF 0%, #FF7A00 100%);
  background-clip:text;
  color:transparent;}

.class{color:black;}



.pricing-box div{height:540px;
                 width:380px;
                 border-radius:20px;
                 background:rgba(255,255,255,0.1);
                 box-shadow:0 5px 10px rgb(0,0,0,0.2); 
                 
}
.pricing-box .basic h1{font-size:3rem;
                      padding:15px 0; 
                      text-align:center;
                      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                       color:black;}

.pricing-box .basic p{line-height:65px;
                      font-size:1.4rem;
                      text-align:center;
                      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                      font-weight:400;
                      text-transform:capitalize;
                      background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
                background-clip:text;
                color:transparent;
                background-position:left;
                transform:translateY(-30px);
}

.pricing-box{display:flex;
             gap:5rem;
             text-transform:capitalize;
             align-items:center;
             text-align:center;
             justify-content:space-evenly;
}

.get-one{padding:15px 25px;
  border-radius:10px;
  border:none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:800;
  text-transform:capitalize;
  transform:translateY(-30px);
  background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
  color:black;}


.action-page{margin-top:10%;
             background-color:#E9EFEC;
             width:100%;
             line-height:90px;
             text-align:center;
             height:550px;
}

.action-page .action-text h1{font-size:4.5rem;
                             font-weight:800;
                             text-transform:capitalize;
                             text-align:center;
                             font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.action-page{display:flex;
  align-items:center;
  justify-content:center;}

.action-page .action-text p{text-align:center; 
                            font-size:1.5rem;
                            color:black;
                            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            text-transform:capitalize;}


.action-page .action-text{color:black;}


.action-page .action-text button{padding:15px 25px;
  border-radius:10px;
  border:none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:800;
  text-transform:capitalize;
  background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);
  color:black;}


.last-section{background:black;
              width:100%;
              height:400px;}


.last-section div h3,p{color:whitesmoke;
}

.last-section div p{font-weight:700;
                    font-size:0.95rem;
                    text-transform:capitalize;
                    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
                    ;}

.last-section div h3{font-size:1.4rem;
                     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                     font-weight:650px;
                     padding:15px 0;
}


.last-section{display:flex;
              align-items:center;
              text-align:center;
              justify-content:center;
              gap:8rem;}


/* Responsive area  */


@media screen and (max-width:1546px)
{


.main-home{margin:0 20px;}


}

@media screen and (max-width:1350px)
{


.main-home{display:flex;
           flex-direction:column;
           align-items:center;
           justify-content:center;
           text-align:center;
}  

}



@media screen and (max-width:1052px)
{

.main-head .nav-bar{display:none;}

}



@media screen and (max-width:557px)
{

.main-home .home-text h1{font-size:2.8rem;
                        line-height:50px;}

}

@media screen and (max-width:510px)
{

.main-home .home-text p{font-size:0.85rem;}

}


@media screen and (max-width:476px)
{

.main-home .learn{
  padding:10px 35px;
}


.main-home .home-text h1{font-size:2.2rem;
}

}

@media screen and (max-width:460px)
{

.main-head .learning{width:50px;}

.main-home .learn{
  padding:10px 20px;
}

.button .main{padding:10px 20px;}

}

@media screen and (max-width:1350px)
{


.second-section{display:flex;
  align-items:center;
  text-align:center;
  flex-direction:column;
  gap:15rem;
  justify-content:center;
}

}

@media screen and (max-width:483px)
{

.second-section{gap:10rem;
}
}

@media screen and (max-width:372px)
{

.second-head{margin-bottom:5%;}
}

@media screen and (max-width:558px)
{

.second-head h1{font-size:2.3rem;}

}

@media screen and (max-width:1355px)
{

.trend-images img{width:100%;}  

.trend-section{display:flex;
    align-items:center;
    justify-content:space-between;
    gap:3rem;
    flex-direction:column;
    text-align:center;
}

.trend-image{width:100%;
             border-top-left-radius:0;      

}

}

@media screen and (max-width:666px)
{


.trend-text h1{font-size:2rem;}

}

@media screen and (max-width:1380px)
{

.why-section{display:flex;
             align-items:center;
             justify-content:space-between;
             background-color:#F5F5F5;
             text-align:center;
             flex-direction:column;
             width:100%;

}

.content-2{display:flex;
  text-align:center;
  gap:2rem;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

}

@media screen and (max-width:652px)
{
  .why-image .why-1{width:100%;}

  .why-image .why-2{width:100%;}
}

@media screen and (max-width:1350px)
{

.pricing-box{display:flex;
  gap:5rem;
  text-transform:capitalize;
  align-items:center;
  text-align:center;
  flex-direction:column;
  justify-content:space-evenly;
}


}

@media screen and (max-width:480px)
{

.pricing-term h1{font-size:2.8rem;}  


}

@media screen and (max-width:480px)
{

.pricing-box div{height:540px;
  width:380px;
  border-radius:20px;
  margin:0 20px;
 
  
}
}

@media screen and (max-width:405px)
{

.pricing-box div{height:540px;
    width:350px;
}

}

@media screen and (max-width:1124px)
{
.action-page .action-text h1{font-size:3.5rem;
}
.action-page .action-text p{text-align:center; 
 font-size:1.1rem;
}

}

@media screen and (max-width:846px)
{

.action-page{line-height:65px;}

}

@media screen and (max-width:826px)
{
.action-page .action-text h1{font-size:3rem;
  }
.action-page .action-text p{text-align:center; 
   font-size:0.8rem;
  }

.action-page{line-height:55px;}

}

@media screen and (max-width:616px)
{

.action-page .action-text h1{font-size:2.7rem;
  }
.action-page .action-text p{text-align:center; 
   font-size:0.68rem;
  }

.action-page{line-height:45px;}

}

@media screen and (max-width:508px)
{

.action-page .action-text h1{font-size:2.3rem;
  }

.action-page .action-text p{text-align:center; 
   font-size:0.78rem;
  }

.action-page{line-height:37px;}

}

@media screen and (max-width:432px)
{

.action-page .action-text h1{font-size:1.9rem;
  }

}

@media screen and (max-width:381px)
{

.action-page .action-text h1{font-size:1.75rem;
  }

}


@media screen and (max-width:507px)
{


.action-page .action-text{padding:0 15px;}

}

@media screen and (max-width:1350px)
{

.last-section{display:flex;
  align-items:center;
  flex-direction:column;
  text-align:center;
  justify-content:center;}


.last-section{background:black;
  width:100%;
  height:1320px;}



body{min-height:670vh;}

}
/*  
background:rgba(255,255,255,0.1);
box-shadow:0 5px 10px rgb(0,0,0,0.2);